.details-event{
	.event-details-location{
		font-size: 15px;
	}

	.event-details-description{
		border: 1px solid #c0c0c0;
		padding: 10px;
		border-radius: 4px;
		background-color: #EEEEEE;
		min-height: 200px;
	}
}