<div class="row create-event">
    <div class="col-xs-12">
        <h1>Create-Event</h1>
    </div>
    <form name="createEvent">
        <div class="col-sm-8">
            <div class="form-group">
                <label for="titleInput" class="sr-only">Title</label>
                <input type="text" name="titleInput" class="form-control input-lg" id="titleInput" placeholder="Title"
                       required
                       ng-minlenght="3"
                       ng-model="$ctrl.title">
                title: {{ $ctrl.title }}
            </div>

            <div class="form-group">
                <label for="descriptionInput" class="sr-only">Description</label>
                <textarea class="form-control input-lg" rows="15" name="descriptionInput" id="descriptionInput" placeholder="Description"
                          ng-model="$ctrl.description">
                </textarea>
            </div>
        </div>

        <div class="col-sm-4">

            <div class="form-group">
                <image-selector on-image-url-updated="$ctrl.onImageUrlUpdated($event)"></image-selector>
            </div>

            <div class="form-group">
                <label for="locationInput" class="sr-only">Location</label>
                <input type="text" name="locationInput" class="form-control input-lg" id="locationInput" placeholder="Location"
                       ng-model="$ctrl.location">
            </div>

            <div class="form-group">
                <date-selector on-dates-updated="$ctrl.onDatesUpdated($event)" editable="true"></date-selector>
            </div>
        </div>

        <floating-action-btn text="create event"
                             fa="fa-save"
                             on-clicked="$ctrl.createEvent()"></floating-action-btn>

    </form>
</div>