body {
	background-color: lightgrey;
}

a{
	cursor: pointer;
}

.has-errors{
	border: 3px solid red !important;
	outline: none;
}

ul{
	padding: 0;
	list-style: none;
}

.wrap-text{
	overflow: hidden;
	word-wrap: break-word;
	overflow-wrap: break-word;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.item-card{
	border-radius: 4px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.item-card:hover{
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}



section.main-content{
	padding-top: 70px;
	padding-bottom: 30px;
}

textarea{
	max-width: 100%;
	max-height: 100%;
}

