.card-event {
	width: 100%;
	height: 300px;
	position: relative;
	margin: 10px;
	display: block;

	img {
		border-radius: 5px;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.card-event-title{
		position: absolute;
		z-index: 10;
		left: 10px;
		bottom: 10px;
		opacity: .3;
		color: white;
		font-size: 18px;
		height: 28px;
		overflow: hidden;
		width: calc(100% - 20px);
		transition: opacity .5s;
	}

	.card-event-date{
		font-size: 15px;
		position: absolute;
		z-index: 10;
		top: 10px;
		left: 10px;
		opacity: .3;
		color: white;
		transition: opacity .5s;
	}

	.card-event-share{
		position: absolute;
		z-index: 10;
		top: 10px;
		right: 10px;
	}

	.water-fall{
		display: block;
		position: absolute;
		width: 100%;
		height: 0;
		background-color: black;
		opacity: .6;
		top: 0;
		left: 0;
		transition: height .5s;
		border-radius: 4px;
	}

	&:hover{
		.water-fall{
			height: 100%;
		}
		.btn-share .btn-share-main{
			opacity: 1;
		}

		.card-event-title{
			opacity: 1;
		}

		.card-event-date{
			opacity: 1;
		}
	}
}

.card-event-container {
	padding: 2px 16px;
}