<div class="date-selector">
    <table class="table table-striped table-condensed">
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Price $</th>
            <th></th>
        </tr>
        <tr ng-repeat="time in $ctrl.times">
            <td>
                {{ time.dateTime | getDate }}
            </td>
            <td>
                {{ time.dateTime | getTime }}
            </td>
            <td>
                {{ time.price }}
            </td>
            <td>
                <a class="btn btn-default btn-sm" ng-click="$ctrl.removeDateTime(time)">
                    <i class="fa fa-remove"></i>
                </a>
            </td>
        </tr>
    </table>

    <div name="dateInputForm" class="form form-inline add-date row">
        <div class="form-group col-xs-6">
            <input type='text' name="dateTimeInput" class="form-control" id='newDate' placeholder="select date time"
                   required
                   date-time-picker="" />
        </div>
        <div class="form-group col-xs-4">
            <input type="number" name="priceInput" class="form-control" placeholder="select price" min="0"
                   ng-model="$ctrl.newPrice">
        </div>
        <button class="btn btn-primary btn-sm"
                ng-click="$ctrl.addDateTime()" ng-disabled="dateInputForm.priceInput.$invalid || !$ctrl.newDate">
            <i class="fa fa-plus"></i>
        </button>
    </div>
</div>
