<div class="date-selector">
    <table class="table table-striped table-condensed" ng-if="$ctrl.dates.length">
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th ng-if="$ctrl.editable"></th>
        </tr>
        <tr ng-repeat="dates in $ctrl.dates">
            <td>
                {{ dates | dateFormat: 4 }}
            </td>
            <td>
                {{ dates | dateFormat: 5 }}
            </td>
            <td ng-if="$ctrl.editable">
                <a class="" ng-click="$ctrl.removeDate(dates)">
                    <i class="fa fa-remove"></i>
                </a>
            </td>
        </tr>
    </table>

    <p ng-if="!$ctrl.dates.length" class="non-dates-text">There aren't dates</p>

    <div class="form form-inline add-date row" ng-if="$ctrl.editable">
        <div class="form-group col-xs-10">
            <input type='text' name="dateTimeInput" class="form-control" id='newDate' placeholder="select date time"
                   required
                   date-time-picker="" />
        </div>
        <button class="btn btn-primary btn-sm"
                ng-click="$ctrl.addDate()"
                ng-disabled="!$ctrl.canAddNewDate()">
            <i class="fa fa-plus"></i>
        </button>
    </div>
</div>
